# Ignore all files and folder then chose the ones we want to sync
# Blacklist all files and folders
/*
# Ignore readthedocs HTML builds
docs/source/_build

# Blacklist all .pyc files
*.pyc

# Whitelist these files
!.gitignore
!README.md
!Run.py
!VLconfig_DEFAULT.sh
!VL_server.py
!SetupConfig.sh
!requirements.txt
!LICENSE
!.readthedocs.yml

# Whitelist these directories
!bin/
bin/VirtualLab
!docs/
docs/build
!Config/
Config/*.yaml
Config/*.py
!Scripts/
!Materials/Copper
!Materials/Copper_NL
!Materials/Tungsten
!Materials/Tungsten_NL
# Ensure that only the Example and .dev sub-directory will be included in the whitelist
!Input/
Input/*/*
!Input/*/Tutorials/
!Input/Test/*
!Input/*/.dev/
!Input/Unit/*
!tests/
# Ensure that only some Run files will be included in the RunFiles directory
!RunFiles/
# ignore logfiles but not directory
!.log
.log/*.log
!VL_Modules.yaml


