# Ignore all files and folder then chose the ones we want to sync
# Blacklist all files and folders
/*

# Blacklist all .pyc files
*.pyc

# Whitelist these files
!.gitignore
!README.md
!Run.py
!Instructions.odt
!VLconfig_DEFAULT.sh
!SetupConfig.sh
!CreateParamFile.py


# Whitelist these directories 
!Scripts/
!Materials/
# Ensure that only the Example and .dev sub-directory will be included in the whitelist
!Input/
Input/*/*
!Input/*/Example/
!Input/*/.dev/

# Ensure that only some Run files will be included in the RunFiles directory
!RunFiles/
RunFiles/*
!RunFiles/Run.py
!RunFiles/Test_VL.py
!RunFiles/Test_VL_Parametric.py




