.admonition.action {
   background-color: #e5d3b3;
   border-color: #b99976
}

.admonition.action .admonition-title {
   background-color: #b99976;
   border-color: #b99976
}




.admonition.pied-piper {
  border-color: rgb(43, 155, 70);
}
.admonition.pied-piper > .admonition-title {
  background-color: rgba(43, 155, 70, 0.3);
  border-color: rgb(43, 155, 70);
