.rst-content .myownstyle .admonition-title {
   background: #b99976
}

.rst-content .myownstyle {
   background: #e5d3b3
}

.rst-content .myownstyle2 .admonition-title {
   background: #f5ed2c
}

.rst-content .myownstyle2 {
   background: #e6e163
}
